<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="/fragment/head :: head('My Phone Book')"/>
    <script th:src="@{/js/phonebook.js}"></script>
</head>
<body>
    <div id="wrapper">
        <th:block th:replace="/fragment/sidebar :: sidebar"/>

        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="records" style="width:100%">
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Patronymic</th>
                                <th>Mobile</th>
                                <th>Home</th>
                                <th>Address</th>
                                <th>Email</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>